@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF Pro Display";
    src: url("/public/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
}
